@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR software</h1>
    <p class="lead">
        HR software is a digital solution for managing and optimizing the daily human resources tasks and overall HR goals of an organization. HR software makes it possible 
        for HR staff and managers to better allocate their time and resources to more productive, profitable efforts.
    </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Employee</h2>
        <p>
            Management—users can access company directories and store important employee documents, 
            notes on performance, and training and certifications in employee profiles.

        </p>
        <p><a class="btn btn-default" href="~/Home/addEmployee">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Retrieve Employee Detail</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="~/Home/retrieveEmployee">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FAQ</h2>
        <p>Frequently asked question</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>