<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Successful</title>
</head>
<body id="firstPage" style="margin-top: 100px;">

    <div style="width:700px;border-width: medium;background-color: ghostwhite;border-style: double;">


        

            <h1 style="font-family: ProximaNovaSemiBold,Arial,sans-serif; font-size: 40px; line-height: 60px; margin-bottom: 13px; margin-left: 15px;  ">Add Employee</h1>

            <div class="form-group">
                <label for="inputID" class="col-lg-2 control-label" style="font-family: "Source Sans Pro", "Helvetica Neue" , Helvetica, Arial, sans-serif;">Employee Id</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputID" placeholder="Employee Id">
                </div>
            </div>

                    <button type="submit" action="/addEmployee" class="btn btn-primary" style="margin-left:130px">Submit</button>
                
            

    </div>


</body>
</html>