<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Detail</title>
</head>
<body id="firstPage" style="margin-top: 100px;background:linear-gradient(to bottom, ghostwhite 0%, #dfdfff 100%);">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li ><a href="/addEmp">Add Employee </a></li>
                    <li><a href="/retrieveEmp">Retrieve Employee Detail</a></li>
                    
                </ul>               
            </div>
        </div>
    </nav>
    <form action="/retrieveEmp" autocomplete="on" method="POST" enctype="multipart/form-data" style="width:750px;height:550px; border-radius: 15px;border-width: medium;background: linear-gradient(to bottom, white 0%, ghostwhite 100%);border-style: double;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">


        <form class="form-horizontal" style="width:700px;height:550px;">

            <!---<button type="submit" formaction="/Home/retrieveEmployee" class="btn btn-primary btn-lg">GET EMPLOYEE INFORMATION</button><br><br>
            -->


            <h1 style="font-family: ProximaNovaSemiBold,Arial,sans-serif; font-size: 40px; line-height: 60px; margin-bottom: 20px; margin-left: 15px;  ">Employee Details</h1>
            
            <label for="emp_image_file" class="col-lg-2 control-label" style="font-size: 18px;">Image</label>
            <div class="col-lg-10">
                <img id="emp_image_file" name="emp_image_file" src="" alt="Uploaded Photo" style="margin-bottom:10px;border-width: 10px;border-color: 20px;width: 80px;height:70px;">
            </div>
            <br/><br/><br/>
            <div class="form-group" >
                <label for="emp_id" class="col-lg-2 control-label" style="font-size: 18px;">Employee Id</label>
                <div class="col-lg-10" >
                    <input type="text" class="form-control" id="emp_id" name="emp_id" placeholder="Employee Id" style="margin-bottom: 10px;" readonly>
                </div>
            </div>
            <div class="form-group" >
                <label for="first_name" class="col-lg-2 control-label" style="font-size: 18px;">First Name </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" style="margin-bottom: 10px;" readonly>
                </div>
            </div>
            <div class="form-group" >
                <label for="last_name" class="col-lg-2 control-label" style="font-size: 18px;">Last Name </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" style="margin-bottom: 10px;" readonly>
                </div>
            </div>
           

            <div class="form-group">
                <label for="pri_skill" class="col-lg-2 control-label" style="font-size: 18px;">Primary Skill</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="pri_skill" name="pri_skill" placeholder="Primary Skill" style="margin-bottom: 10px;resize: none;" readonly></textarea>

                </div>
            </div>
      
            <div class="form-group">
                <label for="location" class="col-lg-2 control-label" style="font-size: 18px;">Location</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="location" name="location" placeholder="Location" style="margin-bottom: 10px;resize: none;" readonly></textarea>

                </div>
            </div>
            
 
            <div class="form-group">
                

                    <button type="submit" action="/retrieveEmp" class="btn btn-primary" style="margin-left:140px;font-size: 15px;">Back</button>
                
            </div>

        </form>
    </form>

</body>
</html>